#{extends 'main.html' /}
#{set title:'changement de disponibilité' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/wufoo.css'}"/>
<div class="container_12">
    <div class="grid_2">
        <a href="${entry.lastZindepModified.profileUrl}">#{zindepPictureUrl zindep:zindep /}</a>
    </div>
    <div class="grid_10" id="zindepAvailabilityChange"><h1><a
            href="${entry.lastZindepModified.profileUrl}">${entry.lastZindepModified.firstName}
        &nbsp;${entry.lastZindepModified.lastName}</a> a changé son statut à <span
            class="${entry.currentAvailability}">'${entry.currentAvailability}'</span>.</h1>

        <h3>date de la modification: ${entry.updateDate.format("dd/MM/yyyy HH:mm")}</h3>

        <h3>précédent statut: '${entry.previousAvailability}'</h3>

        <h3>Domaines d'expertise</h3>

        <p align="justify">${entry.lastZindepModified.techno?.nl2br()}</p>
    </div>
</div>
<div class="clear">&nbsp;</div>
<div class="container_12">
    <h1 class="grid_12">les zindeps disponibles</h1>

    <table class="dispoTable">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>nom</th>
            <th>domaines d'expertises</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="3">zindeps disponibles à plein temps</th>
        </tr>
        #{list items:entry.zindepsFullTime, as:'zindep'}
        <tr>
            <td><a href="${zindep.profileUrl}">#{zindepPictureUrl zindep:zindep /}</a></td>
            <td><a href="${zindep.profileUrl}">${zindep.firstName} ${zindep.lastName}</a></td>
            <td>${zindep.techno?.nl2br()}</td>
        </tr>
        #{/list}
        <tr>
            <th colspan="3">zindeps disponibles à temps partiel</th>
        </tr>
        #{list items:entry.zindepsPartTime, as:'zindep'}
        <tr>
            <td><a href="${zindep.profileUrl}">#{zindepPictureUrl zindep:zindep /}</a></td>
            <td><a href="${zindep.profileUrl}">${zindep.firstName} ${zindep.lastName}</a></td>
            <td>${zindep.techno?.nl2br()}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
